.truck-detail {

   // .truck-detail__image-ibg

   &__image-ibg {
      height: 607px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      pointer-events: none;
      z-index: -1;

      @media (max-width:$laptop) {
         height: 490px;
      }
   }

   // .truck-detail__first-block

   &__first-block {
      padding-top: rem(110);
      @include adaptiveValue("padding-left", 367, 140, 0, 1920, 1440);
      @include adaptiveValue("padding-right", 400, 176, 0, 1920, 1440);
      display: grid;
      grid-template-columns: 501px 1fr;
      grid-template-rows: repeat(2, auto);
      gap: 60px;
      margin-bottom: rem(120);

      @media (max-width:$laptopL) {
         gap: 40px;
         row-gap: 20px;
         padding-top: rem(25);
      }

      @media (max-width:$laptop) {
         padding: 0 rem(80);
         padding-top: rem(14);
         grid-template-columns: 416px 1fr;
         margin-bottom: rem(100);
      }

      @media (max-width:$tablet) {
         grid-template-columns: 1fr;
         @include adaptiveValue("padding-left", 80, 20, 0, 1000, 768);
         @include adaptiveValue("padding-right", 80, 20, 0, 1000, 768);
         margin-bottom: rem(80);
      }

      @media (max-width:$mobile) {
         padding-top: 0;
         gap: 15px;
         margin-bottom: rem(43);
      }
   }

   // .truck-detail__fb-top

   &__fb-top {
      @media (min-width:$tablet) {
         grid-column: 2/3;
         grid-row: 1/2;
         justify-self: end;
      }

      text-align: center;
   }

   // .truck-detail__title

   &__title {
      display: flex;
      gap: 35px;
      margin-bottom: rem(13);

      @media (max-width:$laptopL) {
         flex-direction: column;
         gap: 0;
      }

      @media (max-width:$tablet) {
         flex-direction: row;
         justify-content: center;
         align-items: center;
         column-gap: 20px;
         flex-wrap: wrap;
         margin-bottom: rem(4);
      }
   }

   // .truck-detail__brand

   &__brand {
      font-weight: 800;
      font-size: 68px;
      line-height: 83px;
      color: #2764BA;
      text-transform: uppercase;

      @media (max-width:$mobile) {
         font-size: 48px;
         line-height: 59px;
      }
   }

   // .truck-detail__series

   &__series {
      color: #2764BA;
      text-transform: uppercase;
      font-style: italic;
      font-weight: 500;
      font-size: 68px;
      line-height: 83px;

      @media (max-width:$mobile) {
         font-size: 48px;
         line-height: 59px;
      }
   }

   // .truck-detail__series-num

   &__series-num {
      font-size: 51px;
      line-height: 62px;

      @media (max-width:$mobile) {
         font-weight: 600;
         font-size: 31px;
         line-height: 38px;
      }
   }

   // .truck-detail__article

   &__article {
      font-weight: 800;
      font-size: 39px;
      line-height: 48px;
      color: #fff;
      margin-bottom: rem(15);

      @media (max-width:$mobile) {
         font-weight: 800;
         font-size: 24px;
         line-height: 29px;
         margin-bottom: rem(5);
      }
   }

   // .truck-detail__type

   &__type {
      font-weight: 500;
      font-size: 22px;
      line-height: 27px;
      color: #fff;
   }

   // .truck-detail__prew

   &__prew {
      min-width: 0;

      @media (min-width:$tablet) {
         grid-column: 1/2;
         grid-row: 1/3;
      }

      @media (max-width:$mobile) {
         padding: 0 rem(20);
      }
   }

   // .truck-detail__slider

   &__slider {
      height: 415px;
      margin-bottom: rem(34);

      @media (max-width:$laptop) {
         height: 345px;
      }

      @media (max-width:$mobileSmall) {
         height: 242px;
      }
   }

   // .truck-detail__wrapper

   &__wrapper {}

   // .truck-detail__slide

   &__slide {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
         height: 100%;
         object-fit: contain;
         width: 100%;
      }
   }

   // .truck-detail__thumbs-slider

   &__thumbs-slider {
      height: 105px;
      padding: 0 rem(50);

      @media (max-width:$laptop) {
         padding: 0;
      }

      @media (max-width:$mobileSmall) {
         height: 74px;
      }
   }

   // .truck-detail__thumbs-wrapper

   &__thumbs-wrapper {}

   // .truck-detail__thumbs-slide

   &__thumbs-slide {
      height: 100%;

      img {
         object-fit: contain;
         height: 100%;
         width: 100%;
      }
   }

   // .truck-detail__fb-bottom

   &__fb-bottom {

      @media (min-width:$tablet) {
         grid-column: 2/3;
         grid-row: 2/3;
      }

      padding-top: rem(47);
      padding-left: rem(50);
      padding-right: rem(43);
      background: url(../img/catalog/truck-detail/truck-detail__fb-bottom-bg.png) top left / 100% no-repeat;
      justify-self: end;

      @media (max-width:$laptopL) {
         padding: 0 rem(40);
         padding-top: rem(20);
      }

      @media (max-width:$mobile) {
         padding: rem(20);
      }
   }

   // .truck-detail__price

   &__price {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      gap: 36px;
      margin-bottom: rem(13);

      @media (max-width:$laptopL) {
         flex-direction: column;
         gap: 20px;
      }
   }

   // .truck-detail__old-price

   &__old-price {
      font-weight: 500;
      font-size: 28px;
      line-height: 34px;
      // text-decoration: line-through #CF1235 3px;
      text-decoration-thickness: 3px;
      text-decoration-color: rgb(207, 18, 53);
      text-decoration-line: line-through;
   }

   // .truck-detail__main-price

   &__main-price {
      font-weight: 500;
      font-size: 38px;
      line-height: 46px;
      @include adaptiveValue("font-size", 38, 28, 0, 375, 320);

      span {
         font-size: 28px;
         line-height: 34px;
      }
   }

   // .truck-detail__date

   &__date {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: rem(37);
      text-align: right;
   }

   // .truck-detail__buttons

   &__buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 38px;
      position: relative;

      @media (max-width:$laptop) {
         align-items: stretch;
      }
   }

   // .truck-detail__btn

   &__btn {
      display: block;

   }

   // .truck-detail__btn-share

   &__btn-share {
      position: absolute;
      top: 0;
      right: -85px;

      @media (max-width:$tablet) {
         position: static;
         align-self: flex-end;
      }
   }

   //========================================================================================================================================================

   // .truck-detail__second-block

   &__second-block {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 100px;
      padding: 0 rem(100);
      margin-bottom: rem(100);

      @media (max-width:$laptopL) {
         gap: 50px;
      }

      @media (max-width:$laptop) {
         padding: 0 rem(80);
      }

      @media (max-width:$tablet) {
         @include adaptiveValue("padding-left", 80, 20, 0, 1000, 768);
         @include adaptiveValue("padding-right", 80, 20, 0, 1000, 768);
      }

      @media (max-width:$mobile) {
         grid-template-columns: 1fr;
         gap: 38px;
         margin-bottom: rem(50);
      }
   }

   // .truck-detail__description

   &__description {
      font-weight: 400;
      font-size: 18px;
      line-height: 29px;
   }

   // .truck-detail__video

   &__video {
      align-self: start;
      position: sticky;
      top: 100px;
      border-radius: 20px;
      overflow: hidden;
      @extend %responsiveVideo;

      @media (max-width:$mobile) {
         grid-row: 1/2;
         position: relative;
         top: 0;
      }
   }

   // .truck-detail__gallery

   &__gallery {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 9px;
      margin-bottom: rem(95);

      @media (max-width:$mobile) {
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: 1fr repeat(2, auto) 1fr;
         gap: 2px;
      }
   }

   // .truck-detail__gellery-item

   &__gellery-item {
      cursor: pointer;

      &:nth-child(3) {
         grid-column: 3/5;
         grid-row: 1/3;

         @media (max-width:$mobile) {
            grid-column: 1/3;
            grid-row: 2/3;
         }
      }

      &:nth-child(4) {
         grid-column: 1/3;
         grid-row: 2/4;

         @media (max-width:$mobile) {
            grid-column: 1/3;
            grid-row: 3/4;
         }
      }

      img {
         width: 100%;
         height: 100%;
      }
   }

   //========================================================================================================================================================
   // .truck-detail__specifications

   &__specifications {
      @include adaptiveValue("padding-left", 320, 100, 0, 1920, 1440);
      margin-bottom: rem(117);

      @media (max-width:$laptop) {
         padding-left: rem(80);
      }

      @media (max-width:$tablet) {
         margin-bottom: rem(75);
         @include adaptiveValue("padding-left", 80, 20, 0, 1000, 768);
      }
   }
}

.specifications {
   max-width: 1050px;
   // .specifications__title

   &__title {
      font-size: 43px;
      line-height: 52px;
      margin-bottom: rem(36);

      @media (max-width:$mobile) {
         font-size: 23px;
         line-height: 30px;
      }
   }

   // .specifications__navigation

   &__navigation {
      margin-bottom: rem(60);
      display: flex;
      gap: 55px;
      border-bottom: 2px solid #D9E0E7;
      overflow-x: auto;
      overflow-y: hidden;
      padding-right: rem(40);
      @extend %hidescroll;

      @media (max-width:$mobile) {
         margin-bottom: rem(35);
      }
   }

   // .specifications__tab-name

   &__tab-name {
      font-size: 16px;
      line-height: 24px;
      display: flex;
      gap: 15px;
      white-space: nowrap;
      margin-bottom: rem(-2);
      padding-bottom: rem(10);
      transition: all 0.3s ease 0s;
      border-bottom: 8px solid transparent;

      // ._tab-active

      &._tab-active {
         border-bottom: 8px solid #3D4A62;
      }
   }

   // .specifications__content

   &__content {}

   // .specifications__body

   &__body {}

   // .specifications__row

   &__row {
      font-size: 16px;
      line-height: 20px;
      display: grid;
      gap: 40px;
      grid-template-columns: 270px 1fr;

      &:not(:last-child) {
         margin-bottom: rem(30);

         @media (max-width:$mobile) {
            margin-bottom: rem(20);
         }
      }

      @media (max-width:$mobileMiddle) {
         grid-template-columns: 1fr;
         gap: 5px;
      }
   }

   // .specifications__name

   &__name {}

   // .specifications__value

   &__value {
      font-weight: 600;
   }
}

//========================================================================================================================================================
.truck-detail {

   // .truck-detail__photo-slider

   &__photo-slider {
      height: 540px;
      @include adaptiveValue("height", 540, 360, 0, 1920, 1440);
      position: relative;
      margin-bottom: rem(3);
   }

   // .truck-detail__photo-wrapper

   &__photo-wrapper {}

   // .truck-detail__photo-slide-ibg

   &__photo-slide-ibg {
      height: 100%;
   }

   // .truck-detail__photo-slider-btns

   &__photo-slider-btns {

      .swiper-button-prev,
      .swiper-button-next {
         position: absolute;
         top: 50%;
         width: 51px;
         height: 90px;
         background: rgba(226, 226, 226, 0.502589);
         border-radius: 10px;
         transition: all 0.3s ease 0s;
         transform: translate(0px, -50%);

         &:hover {
            background: rgba(179, 179, 179, 0.8);
         }

         @media (max-width:$tablet) {
            // top: auto;
            // bottom: 0;
            // transform: translate(0px, 0px);
         }
      }

      .swiper-button-prev {
         left: 40px;

         @media (max-width:$laptopL) {
            left: 20px;
         }

         @media (max-width:$mobile) {
            left: 0px;
         }
      }

      .swiper-button-next {
         right: 40px;

         @media (max-width:$laptopL) {
            right: 20px;
         }

         @media (max-width:$mobile) {
            right: 0px;
         }
      }
   }


   // .truck-detail__more

   &__more {
      position: relative;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 25px;
      padding: rem(80) rem(0);
      @include adaptiveValue("margin-bottom", 115, 40);

      @media (max-width:$mobileMiddle) {
         gap: 13px;
         padding: rem(60) rem(0);
      }
   }

   // .truck-detail__m-ibg

   &__m-ibg {
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      position: absolute;
      z-index: -1;
   }

   // .truck-detail__m-series

   &__m-series {
      pointer-events: none;
      font-style: italic;
      font-weight: 500;
      font-size: 108px;
      line-height: 132px;
      text-transform: uppercase;
      position: relative;
      z-index: 2;

      @media (max-width:$mobileMiddle) {
         font-size: 68px;
         line-height: 83px;
      }
   }

   // .truck-detail__m-series-num

   &__m-series-num {
      font-size: 91px;
      line-height: 111px;

      @media (max-width:$mobileMiddle) {
         font-size: 51px;
         line-height: 62px;
      }
   }

   // .truck-detail__m-link

   &__m-link {
      display: flex;
      align-items: center;
      gap: 33px;
      font-weight: 500;
      font-size: 28px;
      line-height: 34px;

      @media (max-width:$mobileMiddle) {
         font-size: 18px;
         line-height: 22px;
      }


      &:hover {
         &::before {
            background: rgba(0, 0, 0, 0.185);
         }
      }

      &::before {
         transition: all 0.3s ease 0s;
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
      }

   }
}

.truck-detail {

   // .truck-detail__subtitle

   &__subtitle {
      font-size: 43px;
      line-height: 52px;


      @media (max-width:$mobile) {
         font-size: 23px;
         line-height: 28px;

      }
   }

   // .truck-detail__footer

   &__footer {
      padding: 0 rem(160);

      @media (max-width:$laptopL) {
         padding-left: rem(100);
         padding-right: rem(150);
      }

      @media (max-width:$tablet) {
         padding: 0 rem(80);
      }

      @media (max-width:$mobile) {
         padding: 0 rem(20);
      }
   }
}