//====================================================================================================
.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding-top: rem(36);
	color: #878787;
	transition: all 0.3s ease 0.2s;
	z-index: 1000;

	.white & {
		color: #fff;
	}

	&._header-scroll {
		transition: all 0.3s ease 0s;
		position: fixed;
		background: #3A3A3A;
		padding-top: 0;
		color: #fff;
		z-index: 1002;

		&.dropdown-open {
			@media (min-width:$tablet) {

				.menu__body {
					height: 84px;
					display: flex;
					align-items: center;
				}
			}

		}

		.header__col {
			@media (min-width:$tablet) {

				align-self: flex-start;
				height: 84px;
				justify-content: center;
			}
		}

		.header__container {
			align-items: center;
			grid-template-columns: 214px 1fr auto;

			@media (max-width:$tablet) {
				grid-template-columns: 153px 1fr auto;
			}
		}

		.header__logo {
			align-self: flex-start;
			height: 84px;
			width: 214px;

			@media (max-width:$tablet) {
				height: 60px;
				width: 153px;
			}

			img {
				height: 100%;

				&:first-child {
					display: none;
				}

				&:last-child {
					display: block;
				}
			}
		}
	}

	@media (max-width:$tablet) {
		padding-top: 0;
		background: #3A3A3A;
	}

	&.dropdown-open {
		transition: all 0.3s ease 0s;
		background: #3A3A3A;
		color: #fff;
		z-index: 1002;
	}

	// .header__container

	&__container {
		padding-left: 0;
		padding-right: 76px;
		display: grid;
		grid-template-columns: 288px 1fr auto;

		@media (max-width:$laptop) {
			grid-template-columns: 188px 1fr auto;
			padding-right: rem(35);
		}

		@media (max-width:$tablet) {
			align-items: center;
			grid-template-columns: 138px 1fr auto;
		}
	}

	// .header__logo

	&__logo {
		img {
			width: 100%;

			&:last-child {
				display: none;
			}
		}
	}

	// .header__menu

	&__menu {
		@include adaptiveValue("margin-left", 90, 50, 0, 1920, 1440);
		margin-right: rem(20);
		transition: margin-top 0.5s ease 0s;

		@media (max-width:$tablet) {
			grid-column: 3/4;
			margin-right: 0;
			color: #fff;
		}
	}


	// .header__mobile

	&__mobile {
		grid-column: 2/3;
		grid-row: 1/2;
		display: flex;
		justify-content: flex-end;

		@media (min-width:$tablet) {
			display: none;
		}
	}


	// .header__phone-mobile

	&__phone-mobile {}

	// .header__col

	&__col {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 12px;

		@media (max-width:$tablet) {
			flex-shrink: 0;
		}

		@media (max-width:$mobileMiddle) {
			flex-direction: row;
			justify-content: space-between;
			gap: 20px;
			width: 100%;
			flex-wrap: wrap;
		}
	}

	// .header__phone

	&__phone {
		font-size: 26px;
		line-height: 24px;
		color: #000;

		.white &,
		._header-scroll &,
		.dropdown-open & {
			color: #fff;
		}

		@media (max-width:$laptop) {
			font-size: 23px;
		}

		@media (max-width:$tablet) {
			color: #fff;
		}

		@media (max-width:$mobile) {
			font-size: 21px;
		}
	}

	// .header__callback

	&__callback {
		font-size: 16px;
		line-height: 24px;
		cursor: pointer;
		color: #CF1235;

		.white &,
		._header-scroll &,
		.dropdown-open & {
			color: #fff;
		}

		@media (max-width:$tablet) {
			color: #fff;
		}

		@media (max-width:$mobile) {
			font-size: 15px;
		}
	}
}

.menu {

	// .menu__icon

	&__icon {}

	// .menu__body

	&__body {
		@media (max-width:$tablet) {
			position: fixed;
			top: 59px;
			left: 0;
			width: 100%;
			height: calc(100% - 59px);
			background: #3A3A3A;
			z-index: 10;
			transform: translate(100%, 0px);
			transition: all 0.3s ease 0s;
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			padding: rem(25);
			overflow: auto;

			.menu-open & {
				transform: translate(0px, 0px);
			}
		}

		@media (max-width:$mobileMiddle) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			gap: 30px;
		}

		@media (max-width: em(370)) {
			padding: rem(15);
		}
	}

	// .menu__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
		row-gap: 15px;

		@media (max-width:$laptop) {
			gap: 30px;
			row-gap: 15px;
		}

		@media (max-width:$tablet) {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			height: calc(100% + 60px);
		}
	}

	// .menu__item

	&__item {

		// .menu__item_dropdown

		&_dropdown {
			position: relative;

			&.dropdown-open {
				@media (min-width:$tablet) {
					&::before {
						background: #515151;
						content: "";
						position: absolute;
						top: -36px;
						left: -26px;
						width: calc(100% + 50px);
						height: 84px;
						z-index: 0;

						@media (max-width: em(1860)) {
							height: rem(67);
						}

						@media (max-width:$laptop) {
							width: calc(100% + 40px);
							left: -20px;
						}
					}

				}

				.menu__link {
					position: relative;
					z-index: 1;

					&::after {
						transform: rotate(-180deg);
					}
				}
			}

			.menu__link {
				gap: 13px;

				&::after {
					content: '';
					width: 12px;
					height: 8px;
					display: block;
					background: url(../img/icons/dd-arrow-black.svg) center center / contain no-repeat;

					.white &,
					._header-scroll &,
					.dropdown-open & {
						background: url(../img/icons/dd-arrow.svg) center center / contain no-repeat;
					}

					@media (max-width:$tablet) {
						background: url(../img/icons/dd-arrow.svg) center center / contain no-repeat;
					}
				}
			}
		}
	}

	// .menu__link

	&__link {
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		display: flex;
		align-items: center;
		gap: 9px;

		&:hover {
			text-decoration: underline;
		}

		@media (max-width:$laptop) {
			font-size: 16px;
		}

		&.star {
			&::before {
				content: '';
				width: 19px;
				height: 17.3px;
				display: block;
				background: url(../img/icons/star.svg) center center / contain no-repeat;
			}
		}
	}
}

.dropdown-catalog {
	padding-top: rem(50);
	padding-bottom: rem(65);

	@media (max-width:$tablet) {
		padding: rem(40) 0;
	}

	// .dropdown-catalog__row

	&__row {
		display: flex;
		gap: 100px;
		row-gap: 35px;
		flex-wrap: wrap;

		@media (max-width:$laptop) {
			gap: 25px;
		}
	}

	// .dropdown-catalog__link

	&__link {
		display: grid;
		grid-template-columns: 89px 1fr;
		gap: 25px;
		align-items: center;

		@media (max-width:$tablet) {
			grid-template-columns: 50px 1fr;
			gap: 18px;
		}

		img {
			width: 100%;
		}
	}


	// .dropdown-catalog__link-col

	&__link-col {
		display: flex;
		flex-direction: column;
		gap: 11px;
	}

	// .dropdown-catalog__link-name

	&__link-name {
		font-weight: 800;
		font-size: 30px;
		line-height: 24px;
		text-transform: uppercase;
	}

	// .dropdown-catalog__models

	&__models {
		font-style: italic;
		font-weight: 600;
		font-size: 16px;
		line-height: 23px;
		color: #FF4769;

		a {
			display: inline-block;
		}

		i {
			font-size: 26px;
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(29);
		height: rem(19);
		z-index: 5;

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(3);
			background-color: #fff;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - rem(1.3));
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before,
			&::after {
				width: 37px;
			}

			&::before {
				top: calc(50% - rem(1.3));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - rem(1.3));
				transform: rotate(45deg);
			}
		}
	}
}