//====================================================================================================

.home-page {
   // .home-page__first-block

   // &__first-block {
   //    background: radial-gradient(50% 50% at 50% 50%, #EEEEEE 0%, #9A9DA9 100%);
   //    height: 100vh;
   //    width: 100%;
   // }


   // .home-page__first-block

   &__first-block {
      position: relative;
      height: 875px;

      @media (max-width:$laptopL) {
         height: 584px;
      }

      @media (max-width:$tablet) {
         height: 429px;
         margin-top: rem(59);
      }

      @media (max-width:$mobile) {
         height: 370px;
      }

      @media (max-width:$mobileMiddle) {
         height: 245px;
      }
   }

   // .home-page__fb-video

   &__fb-video {
      padding-bottom: 0;
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      @extend %responsiveVideo;

      video {
         object-fit: cover;
      }
   }

   // .home-page__fb-content

   &__fb-content {
      display: flex;
      justify-content: flex-end;
      height: 100%;
      flex-direction: column;
      z-index: 1;
      position: relative;
      padding-left: rem(120);
      padding-bottom: rem(107);
      gap: 35px;

      @media (max-width:$laptopL) {
         padding-bottom: rem(55);
         padding-left: rem(100);
      }

      @media (max-width:$laptop) {
         padding-left: rem(80);
         gap: 24px;
      }

      @media (max-width:$tablet) {
         padding: rem(12) rem(40) rem(90);
         justify-content: space-between;
      }

      @media (max-width:$mobileMiddle) {
         padding: rem(12) rem(28) rem(80);
      }
   }

   // .home-page__fb-messages

   &__fb-messages {
      color: #fff;
   }

   // .home-page__fb-message

   &__fb-message {
      position: absolute;
      font-size: 19px;
      font-weight: 500;
      line-height: 28px;
      transition: opacity 0.3s ease 0s;
      opacity: 0;
      z-index: 2;

      @media (max-width:$tablet) {
         min-height: 60px;
         display: flex;
         align-items: center;
         font-size: 16px;
         line-height: 20px;

         br {
            display: none;
         }

         &::before {
            content: '';
            position: absolute;
            top: -25px;
            right: 57px;
            width: 35px;
            height: 25px;
            background: url(../img/home-page/message.svg) center /contain no-repeat;
         }
      }

      &._active {
         opacity: 1;
      }

      // .home-page__fb-message_first

      &_first {
         width: 322px;
         padding: rem(20) rem(61) rem(20) rem(36);
         left: 120px;
         top: 196px;
         text-align: right;

         @media (min-width:$tablet) {
            background: url(../img/home-page/home-page__fb-message_first.png) no-repeat;
         }

         @media (max-width:$laptopL) {
            top: 176px;
            left: 44px;
         }

         @media (max-width:$laptop) {
            left: 0;
            top: 133px;
         }

         @media (max-width:$tablet) {
            top: auto;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            background: rgba(58, 58, 58, 1);
            padding: rem(10) rem(30);
            text-align: left;
         }

         @media (max-width: em(370)) {
            padding-right: rem(10);
            padding-left: rem(10);
         }
      }

      // .home-page__fb-message_second

      &_second {
         text-align: right;
         left: 120px;
         top: 310px;
         width: 286px;
         padding: rem(21) rem(62) rem(26) rem(31);

         @media (min-width:$tablet) {
            background: url(../img/home-page/home-page__fb-message_second.png) no-repeat;
         }

         @media (max-width:$laptopL) {
            top: 176px;
            left: 44px;
         }

         @media (max-width:$laptop) {
            left: 0;
            top: 133px;
         }

         @media (max-width:$tablet) {
            top: auto;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            background: rgba(58, 58, 58, 1);
            padding: rem(10) rem(30);
            text-align: left;
         }

         @media (max-width: em(370)) {
            padding-right: rem(10);
            padding-left: rem(10);
         }
      }

      // .home-page__fb-message_third

      &_third {
         right: 310px;
         top: 110px;
         width: 244px;
         padding: rem(20) rem(31) rem(22) rem(61);

         @media (min-width:$tablet) {
            background: url(../img/home-page/home-page__fb-message_third.png) no-repeat;
         }

         @media (max-width:$laptopL) {
            right: 54px;
            top: 120px;
         }

         @media (max-width:$laptop) {
            right: 37px;
            top: 130px;
         }

         @media (max-width:$tablet) {
            top: auto;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            background: rgba(58, 58, 58, 1);
            padding: rem(10) rem(30);
         }

         @media (max-width: em(370)) {
            padding-right: rem(10);
            padding-left: rem(10);
         }
      }

      // .home-page__fb-message_fourth

      &_fourth {
         right: 310px;
         top: 255px;
         width: 243px;
         padding: rem(20) rem(21) rem(19.5) rem(61);

         @media (min-width:$tablet) {
            background: url(../img/home-page/home-page__fb-message_fourth.png) no-repeat;
         }

         @media (max-width:$laptopL) {
            right: 55px;
            top: 267px;
         }

         @media (max-width:$laptop) {
            right: 37px;
         }

         @media (max-width:$tablet) {
            top: auto;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            background: rgba(58, 58, 58, 1);
            padding: rem(10) rem(30);
         }

         @media (max-width: em(370)) {
            padding-right: rem(10);
            padding-left: rem(10);
         }
      }

      // .home-page__fb-message_fifth

      &_fifth {
         right: 143px;
         top: 523px;
         width: 245px;
         padding: rem(20) rem(44) rem(19.5) rem(61);

         @media (min-width:$tablet) {
            background: url(../img/home-page/home-page__fb-message_fifth.png) no-repeat;
         }

         @media (max-width:$laptopL) {
            right: 54px;
            top: 362px;
         }

         @media (max-width:$laptop) {
            right: 37px;
         }

         @media (max-width:$tablet) {
            top: auto;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            background: rgba(58, 58, 58, 1);
            padding: rem(10) rem(30);
         }

         @media (max-width: em(370)) {
            padding-right: rem(10);
            padding-left: rem(10);
         }
      }
   }

   // .home-page__fb-title

   &__fb-title {
      color: #fff;
      font-size: 30px;

      @media (max-width:$laptopL) {
         font-size: 24px;
      }

      @media (max-width:$laptop) {
         font-size: 20px;
      }

      @media (max-width:$tablet) {
         text-align: center;
         font-size: 16px;

         br {
            display: none;
         }
      }
   }

   // .home-page__fb-brands

   &__fb-brands {
      display: grid;
      grid-template-columns: 227px 350px;
      grid-template-rows: 65px 43px;
      column-gap: 53px;
      row-gap: 46px;

      @media (max-width:$laptopL) {
         grid-template-columns: 145px 255px;
         grid-template-rows: 41px 27px;
         column-gap: 34px;
         row-gap: 29px;
      }

      @media (max-width:$laptop) {
         grid-template-columns: 117px 181px;
         grid-template-rows: 33px 22px;
         column-gap: 27px;
         row-gap: 24px;
      }

      @media (max-width:$tablet) {
         grid-template-columns: 76px 118px;
         grid-template-rows: 22px 14px;
         column-gap: 18px;
         row-gap: 15px;
      }

      @media (max-width:$mobileMiddle) {
         grid-template-columns: 41px 63px;
         grid-template-rows: 12px 8px;
         column-gap: 10px;
         row-gap: 8px;
      }
   }

   // .home-page__fb-brand

   &__fb-brand {
      &:first-child {
         grid-column: 1/3;
         max-width: 478px;

         @media (max-width:$laptopL) {
            max-width: 307px;
         }

         @media (max-width:$laptop) {
            max-width: 248px;
         }

         @media (max-width:$tablet) {
            max-width: 161px;
         }

         @media (max-width:$mobileMiddle) {
            max-width: 86px;
         }
      }

      img {
         width: 100%;
      }
   }


   //========================================================================================================================================================

   // .home-page__second-block

   &__second-block {
      padding-top: rem(140);
      padding-bottom: rem(106);

      @media (max-width:$laptopL) {
         padding: rem(85) 0;
      }

      @media (max-width:$tablet) {
         padding-top: rem(23);
         padding-bottom: rem(60);
      }

      @media (max-width:$mobile) {
         padding-top: rem(16);
         padding-bottom: rem(33);
      }
   }

   // .home-page__container

   &__sb-container {
      padding-left: rem(66);
      padding-right: rem(94);
      display: flex;
      gap: 96px;
      display: grid;
      grid-template-columns: 2.13fr 1fr;

      @media (max-width:$laptopL) {
         grid-template-columns: 1.23fr 1fr;
         gap: 70px;
         padding: 0 rem(40);
      }

      @media (max-width:$tablet) {
         display: flex;
         flex-direction: column;
         gap: 37px;
      }

      @media (max-width:$mobile) {
         padding: 0 rem(20);
      }

      @media (max-width:$mobileMiddle) {
         gap: 34px;
      }
   }

   // .home-page__sb-content

   &__sb-content {
      display: flex;
      flex-direction: column;
      gap: 38px;

      @media (max-width:$tablet) {
         padding: 0 rem(20);
      }

      @media (max-width:$mobileMiddle) {
         gap: 28px;
         padding: 0;
      }
   }

   // .home-page__sb-row-top

   &__sb-row-top {
      flex: 1 1 auto;
      font-size: 40px;
      line-height: 45px;
      display: flex;
      flex-direction: column;
      gap: 60px;

      @media (max-width:$laptopL) {
         font-size: 30px;
         line-height: 35px;
         gap: 50px;
      }

      @media (max-width:$laptop) {
         font-size: 25px;
         line-height: 25px;
      }

      @media (max-width:$tablet) {
         font-size: 18px;
         line-height: 22px;
         display: grid;
         gap: 60px;
         grid-template-columns: 238px 1fr;
      }

      @media (max-width:$mobileMiddle) {
         display: flex;
         flex-direction: column;
         gap: 28px;

      }
   }

   // .home-page__sb-row-bottom

   &__sb-row-bottom {
      font-size: 20px;
      line-height: 24px;
      display: flex;
      gap: 50px;

      @media (max-width:$laptop) {
         flex-direction: column;
         gap: 38px;
      }

      @media (max-width:$tablet) {
         font-size: 16px;
         line-height: 20px;
         display: grid;
         gap: 60px;
         grid-template-columns: 238px 1fr;
      }

      @media (max-width:$mobileMiddle) {
         display: flex;
         flex-direction: column;
         gap: 15px;

         br {
            display: none;
         }
      }
   }

   .video-block {
      padding-bottom: 0;
      @include adaptiveValue("height", 630, 350, 2, 1920, 1280);
      @include adaptiveValue("height", 350, 257, 3, 1280, 1000);

      @media (max-width:$tablet) {
         @include adaptiveValue("height", 358, 198, 0, 1000, 375);
      }

      video {}

      // .video-block__logo

      &__logo {
         img {}
      }
   }

   //========================================================================================================================================================

   // .home-page__third-block

   &__third-block {
      background: #3A3A3A;
      color: #fff;
      padding: rem(80) rem(90) rem(70) rem(65);

      @media (max-width:$laptopL) {
         padding: rem(45);
      }

      @media (max-width:$mobile) {
         padding: rem(36) rem(40) rem(26) rem(38);
      }

      @media (max-width:$mobileSmall) {
         padding: rem(28) rem(15);
      }
   }

   // .home-page__tb-container

   &__tb-container {}

   // .home-page__tb-grid

   &__tb-grid {
      display: grid;
      grid-template-columns: 620px 1fr 510px;
      grid-template-rows: repeat(2, 315px) repeat(2, 345px);
      gap: 13px;

      @media (max-width:$laptopL) {
         grid-template-columns: 400px 1fr 365px;
         grid-template-rows: repeat(2, 200px) repeat(2, 210px);
      }

      @media (max-width: em(1100)) {
         grid-template-columns: 317px 1fr 290px;
         grid-template-rows: repeat(2, 163px) repeat(2, 171px);
      }

      @media (max-width:$tablet) {
         row-gap: 20px;
         column-gap: 8px;
         grid-template-columns: 312px 1fr 180px;
         grid-template-rows: auto 155px 231px;
      }

      @media (max-width: em(600)) {
         grid-template-columns: 1fr;
         grid-template-rows: auto 171px repeat(2, 191px) auto;
         gap: 9px;
      }

   }


   // .home-page__tb-text

   &__tb-text {
      font-size: 40px;
      line-height: 45px;

      @media (max-width:$laptopL) {
         font-size: 30px;
         line-height: 35px;
      }

      @media (max-width: em(1100)) {
         font-size: 25px;
         line-height: 30px;
      }

      @media (max-width:$tablet) {
         font-size: 18px;
         line-height: 22px;
      }

      // .home-page__tb-text_first

      &_first {
         grid-column: 1/2;
         grid-row: 1/2;
         padding-right: rem(200);

         @media (max-width:$laptopL) {
            padding-right: rem(90);
         }

         @media (max-width: em(1100)) {
            padding-right: rem(50);
         }

         @media (max-width:$mobile) {
            grid-column: 1/4;
         }

         @media (max-width: em(600)) {
            grid-column: unset;
            grid-row: unset;
            padding: 0;
         }
      }

      // .home-page__tb-text_second

      &_second {
         padding-left: rem(75);
         padding-top: rem(70);
         padding-right: rem(120);

         @media (max-width:$laptopL) {
            padding: rem(60);
         }

         @media (max-width: em(1100)) {
            padding-left: rem(30);
            padding-top: rem(35);
            padding-right: rem(0);
         }

         @media (max-width:$mobile) {
            padding-top: 0;
            padding-left: rem(20);
            padding-right: 0;
         }

         @media (max-width: em(600)) {
            grid-column: unset;
            grid-row: unset;
            padding: 0;
         }

         p {
            margin-bottom: rem(30);

            @media (max-width:$mobile) {
               margin-bottom: rem(9);
            }
         }
      }
   }

   // .home-page__tb-image-ibg

   &__tb-image-ibg {

      // .home-page__tb-image-ibg_first

      &_first {
         grid-column: 1/2;
         grid-row: 2/3;

         @media (max-width: em(600)) {
            grid-column: unset;
            grid-row: unset;
         }
      }

      // .home-page__tb-image-ibg_second

      &_second {
         grid-column: 2/4;
         grid-row: 1/3;

         @media (max-width:$mobile) {
            grid-row: 2/3;
         }

         @media (max-width: em(600)) {
            grid-column: unset;
            grid-row: unset;
         }
      }

      // .home-page__tb-image-ibg_third

      &_third {
         grid-column: 1/3;
         grid-row: 3/5;

         @media (max-width: em(600)) {
            grid-column: unset;
            grid-row: unset;
         }
      }
   }

   //========================================================================================================================================================

   // .home-page__fourth-block

   &__fourth-block {}

   // .home-page__fb-container

   &__fb-container {
      padding-left: rem(160);
      display: grid;
      grid-template-columns: 1fr 1.23fr;
      gap: 111px;
      position: relative;

      @media (max-width:$laptopL) {
         padding-left: rem(100);
         gap: 67px;
      }

      @media (max-width:$laptop) {
         grid-template-columns: 1fr 614px;
      }

      @media (max-width:$tablet) {
         grid-template-columns: 1fr;
         padding-left: 0;
         gap: 37px;
      }
   }

   // .home-page__fb-text

   &__fb-text {
      font-size: 40px;
      line-height: 45px;
      padding-top: rem(105);

      @media (max-width:$pc) {
         font-size: 30px;
         line-height: 35px;
      }

      @media (max-width:$laptopL) {
         padding-top: rem(70);
      }

      @media (max-width:$tablet) {
         padding-left: rem(40);
         padding-top: rem(37);

         br {
            display: none;
         }
      }

      @media (max-width:$mobile) {
         font-size: 18px;
         line-height: 22px;
         padding-left: rem(38);
      }

      @media (max-width:$mobileSmall) {
         padding-left: rem(15);
      }
   }

   // .home-page__fb-slider

   &__fb-slider {}

   // .home-page__fb-wrapper

   &__fb-wrapper {}

   // .home-page__fb-slide

   &__fb-slide {
      @extend %responsiveVideo;

      video {
         object-fit: cover;
         mix-blend-mode: color;
      }
   }

   // .home-page__fb-slider-btns

   &__fb-slider-btns {


      .swiper-button-prev,
      .swiper-button-next {
         position: absolute;
         top: 50%;
         width: 51px;
         height: 90px;
         background: rgba(226, 226, 226, 0.502589);
         border-radius: 10px;
         transition: all 0.3s ease 0s;
         transform: translate(0px, -50%);

         &:hover {
            background: rgba(179, 179, 179, 0.8);
         }

         @media (max-width:$tablet) {
            top: auto;
            bottom: 0;
            transform: translate(0px, 0px);
         }
      }

      .swiper-button-prev {
         left: 40px;

         @media (max-width:$laptopL) {
            left: 20px;
         }

         @media (max-width:$tablet) {
            left: 0px;
         }
      }

      .swiper-button-next {
         right: 40px;

         @media (max-width:$laptopL) {
            right: 20px;
         }

         @media (max-width:$tablet) {
            right: 0px;
         }
      }
   }

   //========================================================================================================================================================


   // .home-page__fifth-block

   &__fifth-block {}

   // .home-page__ffb-row

   &__ffb-row {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @include adaptiveValue("height", 825, 529, 2, 1920, 1280);
      @include adaptiveValue("height", 529, 413, 3, 1280, 1000);

      @media (max-width:$tablet) {
         height: auto;
         grid-template-columns: repeat(3, 1fr);
         grid-template-rows: minmax(207px, 1fr) 413px;
      }

      @media (max-width: em(650)) {
         grid-template-columns: 1fr;
         grid-template-rows: unset;
      }
   }

   // .home-page__ffb-item

   &__ffb-item {
      color: #fff;
      display: flex;
      gap: 20px;
      position: relative;
      align-items: flex-end;
      padding: 0 rem(60);
      padding-bottom: rem(104);

      @media (max-width:$pc) {
         padding: 0 rem(35);
         padding-bottom: rem(56);
      }

      @media (max-width:$mobile) {
         padding: 0 rem(30);
         padding-bottom: rem(47);
      }

      @media (max-width: em(650)) {
         height: 529px;
         padding-bottom: rem(54);
      }

      @media (any-hover:hover) {
         &:hover {
            @media (min-width:$tablet) {

               .home-page__ffb-item-image-ibg {
                  img {
                     object-position: -20px;
                  }
               }
            }
         }
      }

      // .home-page__ffb-item_main

      &_main {
         flex-direction: column;
         align-items: flex-start;
         background: #CF1235;
         padding-bottom: rem(95);
         padding-top: rem(123);

         @media (max-width:$pc) {
            padding-left: rem(53);
            padding-bottom: rem(46);
            padding-top: rem(50);
         }

         @media (max-width:$laptop) {
            padding-left: rem(43);
            padding-bottom: rem(27);
         }

         @media (max-width:$tablet) {
            grid-column: 1/4;
            gap: 32px;
            align-items: stretch;
         }

         @media (max-width: em(650)) {
            grid-column: auto;
            height: auto;
            padding: rem(30) rem(15);
         }
      }
   }

   // .home-page__ffb-title

   &__ffb-title {
      font-size: 40px;
      line-height: 49px;
      flex: 1 1 auto;
      max-width: 299px;

      @media (max-width:$pc) {
         font-size: 30px;
         line-height: 37px;
         max-width: 224px;
      }

      @media (max-width:$laptop) {
         font-size: 20px;
         line-height: 24px;
         max-width: 150px;
      }

      @media (max-width:$tablet) {
         font-size: 18px;
         line-height: 22px;
         max-width: 100%;
      }
   }

   // .home-page__ffb-btn

   &__ffb-btn {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      padding: rem(31) rem(57);
      display: inline-block;
      border: 2px solid #FFFFFF;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width:$laptopL) {
         padding: rem(31) rem(20);
      }
   }

   // .home-page__ffb-item-link

   &__ffb-item-link {
      z-index: 1;
      font-weight: 700;
      font-size: 28px;
      line-height: 34px;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      align-items: center;
      width: 100%;

      &::after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
      }

      @media (max-width:$pc) {
         font-size: 22px;
         line-height: 27px;
      }

      @media (max-width:$laptop) {
         height: 54px;

         img {
            display: none;
         }
      }

      @media (max-width: em(650)) {
         img {
            display: block;
         }
      }
   }

   // .home-page__ffb-item-image-ibg

   &__ffb-item-image-ibg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;


      img {
         transition: all 0.3s ease 0s;
         object-position: 0;
         pointer-events: none;
      }
   }

   //========================================================================================================================================================

   // .home-page__sixth-block

   &__sixth-block {}

   // .home-page__sxb-container

   &__sxb-container {
      padding-top: rem(105);
      padding-bottom: rem(144);
      @include adaptiveValue("padding-left", 160, 105, 2, 1920, 1280);
      @include adaptiveValue("padding-right", 215, 105, 2, 1920, 1280);
      @include adaptiveValue("padding-left", 105, 43, 3, 1280, 1000);
      @include adaptiveValue("padding-right", 105, 35, 3, 1280, 1000);

      @media (max-width:$laptopL) {
         padding-top: rem(70);
         padding-bottom: rem(110);
      }

      @media (max-width:$laptop) {
         padding-top: rem(63);
         padding-bottom: rem(70);
      }

      @media (max-width:$tablet) {
         padding: 0 rem(30);
         padding-top: rem(35);
         padding-bottom: rem(45);
      }

      @media (max-width:$mobile) {
         padding-top: rem(33);
         padding-bottom: rem(40);
      }

      @media (max-width:$mobileSmall) {
         padding: 0 rem(15);
         padding-top: rem(33);
         padding-bottom: rem(40);
      }
   }

   // .home-page__sxb-grid

   &__sxb-grid {
      display: grid;
      grid-template-columns: 3.244fr 1fr 1fr;
      grid-template-rows: auto 240px;
      column-gap: 30px;

      @media (max-width:$laptopL) {
         grid-template-rows: auto 165px;
      }

      @media (max-width:$laptop) {
         grid-template-rows: auto 143px;
      }

      @media (max-width:$tablet) {
         gap: 20px;
         grid-template-columns: 1fr 153px;
         grid-template-rows: auto 134px 143px;
      }

      @media (max-width:$mobile) {
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: auto 230px 150px;
         gap: 10px;
      }
   }

   // .home-page__sxb-link

   &__sxb-link {
      font-size: 40px;
      line-height: 45px;
      color: #000;
      display: flex;
      gap: 30px;
      justify-content: space-between;
      grid-column: 2/4;
      grid-row: 1/2;
      align-self: start;

      @media (max-width:$laptopL) {
         font-size: 30px;
         line-height: 35px;
      }

      @media (max-width:$laptop) {
         font-size: 25px;
         line-height: 30px;
      }

      @media (max-width:$tablet) {
         font-size: 18px;
         line-height: 22px;
         grid-column: 1/3;
         align-items: center;
      }

      span {
         max-width: 370px;

         @media (max-width:$tablet) {
            max-width: 100%;
         }
      }

      img {
         width: 70px;
         height: 70px;

         @media (max-width:$tablet) {
            width: 44px;
            height: 44px;
         }
      }
   }

   // .home-page__sxb-image

   &__sxb-image {
      height: 100%;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      // .home-page__sxb-image_first

      &_first {
         grid-row: 1/3;

         @media (max-width:$tablet) {
            grid-row: 2/4;
         }

         @media (max-width:$mobile) {
            grid-column: 1/3;
            grid-row: 2/3;
         }
      }

      // .home-page__sxb-image_second

      &_second {
         align-self: end;
         grid-row: 2/3;
         grid-column: 2/3;

         @media (max-width:$mobile) {
            grid-row: 3/4;
            grid-column: 1/2;
         }
      }

      // .home-page__sxb-image_third

      &_third {
         align-self: end;
         grid-column: 3/4;
         grid-row: 2/3;

         @media (max-width:$tablet) {
            grid-row: 3/4;
            grid-column: 2/3;
         }

         @media (max-width:$mobile) {
            grid-row: 3/4;
            grid-column: 2/3;
         }
      }
   }

   //========================================================================================================================================================

   // .home-page__seventh-block

   &__seventh-block {
      margin-bottom: rem(90);

      @media (max-width:$laptopL) {
         margin-bottom: rem(85);
      }

      @media (max-width:$laptop) {
         margin-bottom: rem(70);
      }

      @media (max-width:$mobile) {
         margin-bottom: rem(45);
      }

      @media (max-width:$mobileSmall) {
         margin-bottom: rem(55);
      }
   }

   // .home-page__svb-container

   &__svb-container {
      gap: 70px;
      display: flex;
      padding-right: rem(119);

      @media (max-width:$laptopL) {
         @include adaptiveValue("padding-right", 150, 100, 1, 1280, 1000);
      }

      @media (max-width:$tablet) {
         padding-right: rem(27);
         flex-direction: column-reverse;
         gap: 20px;
      }

      @media (max-width:$mobileMiddle) {
         padding-right: rem(15);
      }
   }

   // .home-page__svb-image

   &__svb-image {
      @media (min-width:em(1920.98)) {
         flex: 1 1 auto;
      }

      img {
         width: 100%;
      }
   }

   // .home-page__svb-col

   &__svb-col {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-shrink: 0;
      gap: 30px;

      @media (max-width:$tablet) {
         padding-left: rem(30);
         gap: 12px;
      }

      @media (max-width:$mobileMiddle) {
         padding-left: rem(15);
      }
   }

   // .home-page__svb-title

   &__svb-title {
      flex: 1 1 auto;
      font-size: 40px;
      line-height: 45px;
      max-width: 335px;

      @media (max-width:$laptopL) {
         font-size: 30px;
         line-height: 35px;
         max-width: 251px;
      }

      @media (max-width:$laptop) {
         font-size: 25px;
         line-height: 35px;
         max-width: 209px;
      }

      @media (max-width:$tablet) {
         max-width: 100%;
         font-size: 18px;
         line-height: 22px;
      }
   }

   // .home-page__svb-addres

   &__svb-addres {
      .addres__svg {
         use {
            fill: #CF1235;
         }
      }

      @media (max-width:$tablet) {
         .addres span {
            max-width: 100%;
         }
      }
   }

   //========================================================================================================================================================

   // .home-page__rewiews

   &__rewiews {
      margin-bottom: rem(80);

      @media (max-width:$laptop) {
         margin-bottom: rem(55);
      }
   }

   // .home-page__rew-title

   &__rew-title {
      font-size: 43px;
      line-height: 52px;
      margin-bottom: rem(70);
      padding-left: rem(80);

      @media (max-width:$laptopL) {
         padding-left: rem(105);
      }

      @media (max-width:$tablet) {
         font-size: 33px;
         line-height: 40px;
         margin-bottom: rem(43);
         padding-left: rem(80);
      }

      @media (max-width:$mobile) {
         font-size: 23px;
         line-height: 28px;
         margin-bottom: rem(26);
         padding-left: rem(32);
      }

      @media (max-width:$mobileSmall) {
         padding-left: rem(20);
      }
   }

   // .home-page__rew-container

   &__rew-container {
      background: #3A3A3A;
      padding: rem(90) 0;
      @include adaptiveValue("padding-left", 216, 30, 0, 1920, 1280);
      @include adaptiveValue("padding-right", 216, 30, 0, 1920, 1280);

      @media (max-width:$laptop) {
         padding: rem(60) rem(30);
      }

      @media (max-width: em(900)) {
         padding: rem(60) rem(80);
      }

      @media (max-width:$mobile) {
         padding: rem(60) rem(70);
      }

      @media (max-width:$mobileSmall) {
         padding: rem(40);
         padding-bottom: rem(90);
      }


      review-lab {
         .widget {
            padding: 0;
         }

         .ngucarousel {
            .ngu-touch-container {
               .ngucarousel-items {
                  margin-top: 0;

                  .item {
                     padding-top: 0;
                     padding-bottom: 0;

                     @media (max-width:$mobileSmall) {
                        padding: 0;
                     }

                     .tile {
                        padding-bottom: 0;
                     }
                  }
               }
            }
         }

         .widget__points {
            display: none;
         }

         .widget__pag {
            @media (max-width: 1024px) {
               display: block;
            }
         }

         .widget__pag_prev {
            @media (max-width: em(900)) {
               left: -60px;
            }

            @media (max-width:$mobileSmall) {
               transform: translate(-100%, 0px);
               left: calc(50% - 7.5px);
            }
         }

         .widget__pag_next {
            @media (max-width: em(900)) {
               right: -60px;
            }

            @media (max-width:$mobileSmall) {
               transform: translate(100%, 0px);
               right: calc(50% - 7.5px);
            }
         }

         .widget__pag_prev,
         .widget__pag_next {
            @media (max-width:$mobileSmall) {
               top: calc(100% + 15px);
            }
         }
      }
   }

   //========================================================================================================================================================


   // .home-page__company

   &__company {
      margin-bottom: rem(95);

      @media (max-width:$laptop) {
         margin-bottom: rem(70);
      }

      @media (max-width:$mobileSmall) {
         margin-bottom: rem(50);
      }
   }

   // .home-page__company-container

   &__company-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 0 rem(120);

      @media (max-width:$laptopL) {
         padding: 0 rem(100);
      }

      @media (max-width:$tablet) {
         padding: 0 rem(80);
      }

      @media (max-width:$mobile) {
         padding: 0 rem(60);
      }

      @media (max-width:$mobileSmall) {
         padding: 0 rem(20);
      }
   }

   // .home-page__company-title

   &__company-title {
      font-size: 43px;
      line-height: 52px;
      max-width: 470px;
      text-align: right;
      margin-bottom: rem(70);

      @media (max-width:$laptop) {
         font-size: 33px;
         line-height: 40px;
         max-width: 360px;
         margin-bottom: rem(50);
      }

      @media (max-width:$mobile) {
         margin-bottom: rem(40);
         font-size: 23px;
         line-height: 28px;
         max-width: 250px;
      }
   }

   // .home-page__company-grid

   &__company-grid {
      display: flex;
      flex-wrap: wrap;
      row-gap: 40px;
      column-gap: 70px;
      align-items: center;
      justify-content: center;
   }

   // .home-page__company-item

   &__company-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   // .home-page__company-logo

   &__company-logo {
      flex: 1 1 auto;
      height: 120px;
      display: flex;
      align-items: center;
   }

   // .home-page__company-text

   &__company-text {
      font-size: 14px;
      line-height: 22px;
      text-align: center;
   }

}

//====================================================================================================