.manuals {

   // .manuals__grid

   &__grid {
      margin-top: rem(70);
      @include adaptiveValue("padding-left", 160, 20, 0, 1920, 500);
      @include adaptiveValue("padding-right", 160, 20, 0, 1920, 500);
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
      gap: 140px;
      row-gap: 60px;
      @include adaptiveValue("margin-bottom", 200, 60);

      @media (max-width:$tablet) {
         margin-top: 0;
         gap: 60px;
         grid-template-columns: 1fr;
      }

      .document {
         justify-self: start;

         // .document__name

         &__name {
            color: #000;
         }

         // .document__text

         &__text {}
      }
   }

   // .manuals__image-ibg

   &__image-ibg {
      padding-bottom: 27.4%;
   }

   // .manuals__footer

   &__footer {
      margin-bottom: rem(90);
      @include adaptiveValue("padding-left", 150, 20, 0, 1920, 500);
      @include adaptiveValue("padding-right", 150, 20, 0, 1920, 500);

      @media (max-width:$tablet) {
         margin-bottom: rem(45);
      }
   }
}